form {
  border: 3px solid #f1f1f1;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #2196f3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
.footer-container,
.container {
  padding: 16px;
}
.footer-container {
  display: flex;
  flex-direction: row;
}
span.psw {
  float: right;
  margin-left: 100px;
}
.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
h2 {
  text-align: center;
  display: flex;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    margin-left: 0px;
    float: none;
  }
  .footer-container {
    flex-direction: column;
  }
}
