input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
  border: 1px solid #2196f3;
  border-radius: 5px;
}
.add-btn:hover {
  opacity: 1;
}
/* Set a style for the submit button */
.add-btn {
  background-color: #2196f3;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
